* {
  box-sizing: border-box;
}

header {
  display: flex;
}

header > div:nth-child(1) {
  flex: 1;
}

header > div:nth-child(2) {
  flex: 3;
}

main > div:nth-child(1) {
  display: flex;
}

.grids {
  display: flex;
  justify-content: space-evenly;
}

.playerGridContainer,
.opponentGridContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.playerContainer2,
.opponentContainer2 {
  display: flex;
}

.playerGrid,
.opponentGrid,
tr,
td {
  border: 1px solid;
  border-color: hsl(240deg 100% 90%);
  border-collapse: collapse;
}

[data-field],
[data-field2],
[data-row-index],
[data-column-index] {
  width: 30px;
  height: 30px;
  text-align: center;
}

[data-row-index],
[data-column-index],
.playerIndex1,
.opponentIndex1 {
  border: none;
}

.playerIndex1,
.opponentIndex1 {
  width: 90%;
}
