* {
  box-sizing: border-box;
}

header {
  display: flex;
  margin-bottom: 70px;
}

header > div:nth-child(1) {
  flex: 1;
}

header > div:nth-child(2) {
  flex: 3;
}

.bar {
  background-color: rgb(233, 231, 231);
  width: 50%;
  padding: 8px 5px;
}

.gameTitle {
  font-size: 1.6rem;
  font-weight: 600;
}

.bar,
.gameTitle {
  margin-left: 40px;
}

main > div:nth-child(1) {
  display: flex;
}

.grids {
  display: flex;
  justify-content: space-evenly;
}

.playerGridContainer,
.opponentGridContainer,
.dropTableContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.playerContainer2,
.opponentContainer2 {
  display: flex;
}

.playerGrid,
.opponentGrid,
.dTable,
[data-field],
[data-field2],
[data-drag-table-field] {
  border: 1px solid;
  border-color: rgb(146, 146, 253);
  border-collapse: collapse;
}

.weak,
.weak > tr > td {
  border: 1px solid;
  border-color: rgba(204, 204, 255, 0.486);
  border-collapse: collapse;
}

.pi1container, .pi1container2 {
  display: flex;
}

.emptyBox, .emptyBox2 {
  flex: 0.5;
}

.playerIndex1, .opponentIndex1{
  flex: 9;
}

[data-field],
[data-field2],
[data-drag-table-field],
[data-row-index],
[data-column-index] {
  width: 30px;
  height: 30px;
  text-align: center;
}

.opponentIndex1Light > tr > td,
.opponentIndex2Light > tr > td,
.playerIndex1Light > tr > td,
.playerIndex2Light > tr > td {
  color: rgba(0, 0, 0, 0.301);
}

.playButton {
  background-color: orange;
  font-size: large;
  padding: 5px 20px;
  border-radius: 50%;
}

.playButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 60%;
  right: 27%;
}

.playButtonTitle {
  font-size: 1.5rem;
}

.gridsTitles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.title1,
.title2 {
  flex: 1;
  text-align: center;
}

.title1 {
  padding-left: 5%;
}

.title2 {
  padding-right: 5%;
}

.gridOptions {
  padding-left: 19%;
  padding-top: 5%;
  display: flex;
  gap: 30px;
}

.gridOption1Icon:hover {
  background-color: rgba(255, 255, 0, 0.253);
  border-radius: 50%;
}
.gridOption1Icon:active {
  background-color: yellow;
  border-radius: 50%;
}
.gridOption2Icon:hover {
  background-color: rgba(255, 255, 0, 0.253);
  border-radius: 50%;
}
.gridOption2Icon:active {
  background-color: yellow;
  border-radius: 50%;
}

.notSunk {
  background-color: hsla(189, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(189, 84%, 71%, 0.555);
}
.notSunkWeak {
  background-color: hsla(189, 91%, 87%, 0.486);
  box-shadow: inset 0 0 10px hsla(189, 84%, 71%, 0.479);
}

.sunk {
  background-color: hsl(0, 100%, 93%);
  box-shadow: inset 0 0 10px hsl(0, 89%, 82%);
}

.sunk2 {
  background-color: hsl(0, 100%, 93%);
  box-shadow: inset 0 0 10px hsl(0, 89%, 82%);
}

.sunkWeak {
  background-color: hsla(0, 100%, 93%, 0.479);
  box-shadow: inset 0 0 10px hsla(0, 89%, 82%, 0.486);
}
.sunkWeak2 {
  background-color: hsla(0, 100%, 93%, 0.479);
  box-shadow: inset 0 0 10px hsla(0, 89%, 82%, 0.486);
}

.missed {
  background-color: rgb(228, 228, 228);
}
.missed2 {
  background-color: rgb(228, 228, 228);
}
.missedWeak {
  background-color: rgba(228, 228, 228, 0.644);
}
.missedWeak2 {
  background-color: rgba(228, 228, 228, 0.644);
}


.winnerCard {
  width: 350px;
  height: 350px;
  padding-top: 5%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: rgb(250, 225, 2);
  border: 1px solid rgb(214, 193, 2);
  border-bottom: 5px solid rgb(214, 193, 2);
  border-right: 5px solid rgb(214, 193, 2);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.winnerTitle {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.winnerResultsTitle, .loserResultsTitle {
  font-weight: 600;
  font-size: 20px;
}

.wrDescription, .lrDescription {
  font-style: italic;
}

.results {
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}

.restartButton {
  width: 90px;
  height: 32px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  align-self: center;
  margin-top: 30%;
  background-image: linear-gradient(to bottom, #ff0404, #ca7d08);
  color: white;
  border-bottom: 2px solid #865408;
  border-radius: 40%;
  padding-top: 3px;
  padding-bottom: 9px;
}

.restartButton:active {
  border: 1px solid #ff0000;
  background-image: linear-gradient(to bottom, #ff0000, #ff0000);
  padding-bottom: 8px;
}

.dBox {
  position: relative;
  height: 311px;
  width: 311px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
}

.firstContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.secondContainer, .thirdContainer, .fourthContainer {
  display: flex;
  justify-content: space-evenly;
}

.dBoxFour {
  width: 119px;
  height: 31px;
  left: 0px;
  top: 0px;
  background-color: hsla(189, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(189, 84%, 71%, 0.555);
  position: absolute;
  z-index: 2;
  border: 1px solid rgb(146, 146, 253);
  display: flex;
}

.dBoxThree1, .dBoxThree2 {
  width: 89px;
  height: 31px;
  left: 0px;
  top: 0px;
  background-color: hsla(189, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(189, 84%, 71%, 0.555);
  position: absolute;
  z-index: 2;
  border: 1px solid rgb(146, 146, 253);
  display: flex;
}

.dBoxTwo1, .dBoxTwo2, .dBoxTwo3 {
  width: 59px;
  height: 31px;
  left: 0px;
  top: 0px;
  background-color: hsla(189, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(189, 84%, 71%, 0.555);
  position: absolute;
  z-index: 2;
  border: 1px solid rgb(146, 146, 253);
  display: flex;
}

.dBoxOne1, .dBoxOne2, .dBoxOne3, .dBoxOne4{
  width: 29px;
  height: 31px;
  left: 0px;
  top: 0px;
  background-color: hsla(189, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(189, 84%, 71%, 0.555);
  position: absolute;
  z-index: 2;
  border: 1px solid rgb(146, 146, 253);
  display: flex;
}

.dBoxFourError {
  width: 119px;
  height: 31.4px;
  left: 0px;
  top: 0px;
  background-color: hsla(19, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(22, 84%, 71%, 0.555);
  position: absolute;
  z-index: 2;
  display: flex;
}

.dBoxThree1Error, .dBoxThree2Error {
  width: 89px;
  height: 31.4px;
  left: 0px;
  top: 0px;
  background-color: hsla(19, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(22, 84%, 71%, 0.555);
  position: absolute;
  z-index: 2;
  display: flex;
}

.dBoxTwo1Error, .dBoxTwo2Error, .dBoxTwo3Error {
  width: 59px;
  height: 31.4px;
  left: 0px;
  top: 0px;
  background-color: hsla(19, 91%, 87%, 0.555);
  box-shadow: inset 0 0 10px hsla(22, 84%, 71%, 0.555);
  position: absolute;
  z-index: 2;
  display: flex;
}

.v4 {
  width: 29px;
  height: 127px;
  display: flex;
  flex-direction: column;
}

.v3 {
  width: 29px;
  height: 97px;
  display: flex;
  flex-direction: column;
}

.v2 {
  width: 29px;
  height: 63px;
  display: flex;
  flex-direction: column;
}

[data-dboxdiv] {
  flex-grow: 1;
}

.hide {
  display: none;
}

.drag-over {
  background-color: greenyellow;
}

.shipBanned {
  background-color: rgb(255 0 0 / 58%);
  box-shadow: none;
  border: none;
}


.relDiv {
  width: 119px;
  height: 31px;
  position: relative;
  border: 1px solid rgb(231, 229, 229);
}

.relDiv3, .relDiv3B {
  width: 89px;
  height: 31px;
  position: relative;
  border: 1px solid rgb(231, 229, 229);
}

.relDiv2, .relDiv2B, .relDiv2C {
  width: 59px;
  height: 31px;
  position: relative;
  border: 1px solid rgb(231, 229, 229);
}

.relDiv1, .relDiv1B, .relDiv1C, .relDiv1D {
  width: 29px;
  height: 31px;
  position: relative;
  border: 1px solid rgb(231, 229, 229);
}